{% extends 'capstone/layout.html' %}{% block body %}
<center>
  <form action="{% url 'register' %}" class="form" method="post">
    <h1>Register</h1>
    <br />
    {% csrf_token %}
    <div>
      <input autofocus type="text" name="username" placeholder="Username" required />
    </div>
    <div>
      <input type="email" name="email" placeholder="Email Address" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div>
      <input type="password" name="confirmation" placeholder="Confirm Password" />
    </div>

    <input type="submit" value="Sign up" class="btn" />
    <br />
    <a href="{% url 'login' %}">Already have an account? <span>Login</span></a>
  </form>
</center>

{% endblock %}
